<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate-top.css" />
    <title>Ecommerce</title>
</head>
<body>
    <div class="row" id="box">
        <div class="col-md-7 mx-auto">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{> _error}}
            <div class="card card-body">
            <h1 class="text-center" style="color:#595959;">Sign In</h1>    
                <form method="POST" action="/users/login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-block btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>