<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate-top.css" />
    <title>Ecommerce</title>
</head>
<body>
    <div class="row" id="box">
        <div class="col-md-7 mx-auto">
            {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
            {{/each}}
            {{#if mail}}
                <div class="alert alert-warning">That Email Address Has Already Been Taken</div>
            {{/if}}
            {{#if name}}
                <div class="alert alert-warning">That Username Has Already Been Taken</div>
            {{/if}}
            <div class="card card-body">
            <h1 class="text-center" style="color:#595959;">Sign Up</h1>    
                <form method="POST" action="/users/register" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="form-control" />
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="profileImage" name="profileImage">
                        <label class="custom-file-label" for="profileImage">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                    <button type="submit" class="btn btn-block btn-dark mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>