<div class="card mt-3" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/allProducts">All Games</a></li>
        <li class="list-group-item"><a href="#">PC Games</a></li>
        <li class="list-group-item"><a href="#">Ps4 Games</a></li>
    </ul>
</div>