#box{
    position: relative;
    animation: animatetop 0.5s ease-in-out;
    -webkit-animation: animatetop 0.5s ease-in-out;
}

@keyframes animatetop{
    from{top: -500px; opacity: 0;}
    to{top: 0px; opacity: 1;}
}

@-webkit-keyframes animatetop{
    from{top: -500px; opacity: 0;}
    to{top: 0px; opacity: 1;}
}