#order-box{
    position: relative;
    width: 45%;
    height: 35em;
    overflow-y: scroll;
    display: inline-block;
    margin: 2%;
    border: 0.03em solid #eee;
    box-sizing: border-box;
    padding: 3%;
    box-shadow: 0px 2px 3px #ccc;
    animation: animatetop 0.5s ease-in-out;
    -webkit-animation: animatetop 0.5s ease-in-out;
}

.order-info{
    border-bottom: 0.1em solid #eee;
    margin-bottom: 3%;
}

.order-info > h5{
    margin-bottom: 0.5em;
}

@keyframes animatetop{
    from{top: -700px; opacity: 0;}
    to{top: 0px; opacity: 1;}
}

@-webkit-keyframes animatetop{
    from{top: -700px; opacity: 0;}
    to{top: 0px; opacity: 1;}
}

@media only screen and (max-width: 900px){
    #order-box{
        width: 90%;
    }
}