.card{
    display: inline-block;
    width: 47%;
    margin: 1%;
    vertical-align: top;
}

@media only screen and (max-width: 900px){
    .card{
        display: block;
        width: 95%;
        margin: 3%;
    }
}